<div class="content">
  <div class="row">
    <div class="col-12 col-md-6 product avatar">
      <h1>Avatar Speech</h1>
      <p>Geliştirilen RealTime Avatar Speech ile anlık olarak müşterilerinize deneyim sağlayın!</p>
      <a routerLink="/avatar-speech" class="btn btn-success">Dene</a>
    </div>
    <div class="col-12 col-md-6 product chat">
      <h1>Chat Bot</h1>
      <p>Geliştirilen ChatBot ile markanız veya sormak istediğiniz her şeyi cevaplandırın!</p>
      <a routerLink="/chat-bot" class="btn btn-success">Dene</a>
    </div>
  </div>
</div>
